<h2>Orders</h2>
<a href="#" class="btn btn-success">Create</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Table</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Table 1</td>
            <td>Pizza Cheese</td>
            <td>1</td>
            <td>$14,000</td>
            <td>
                <span class="badge-warning badge">Pending</span>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Table 2</td>
            <td>Arepa</td>
            <td>3</td>
            <td>$4,500</td>
            <td><span class="badge-success badge">Delivered</span></td>
        </tr>
    </tbody>
</table>