<div class="jumbotron" id="home" align="center">
 <h1 class="display-2" id="title">UEAT</h1>
  <h4 class="desc">Enjoy delicious food without waiting til the end of the world</h4>
  <a href="/restaurants"><button class="ctrl-standard typ-subhed fx-sliderIn">Find Restaurant</button></a>
</div>


