<div class="jumbotron" id="home" align="center">
 <h1 class="display-2" id="title">UEAT</h1>
  <h4 class="desc">Welcome to all restarant</h4>
  <a href="/books"><button class="ctrl-standard typ-subhed fx-sliderIn">welcome</button></a>
</div>
