<h1>Restaurantes</h1>
<table>
  <th>
    <td>N</td>
    <td>Name</td>
  </th>
<% @restaurants.each do |rest| %>
  <tr>
    <td><%=rest.id%></td>
    <td><%= link_to "#{rest.name}", live_feed_path(rest.id) %></td>
  </tr>
<% end %>
</table>
