#home * {
   color: white;
   text-transform: none;
   font-family: 'Lato', sans-serif;
}


.restaurantpic
{
  background: url(https://wallpapercave.com/wp/wp3053211.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}


.homepic
{
  background: url(https://i.pinimg.com/originals/60/c1/da/60c1da7b675ecc20f8722e1f1cf49bb5.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

#title
{
   font-family: 'Dosis', sans-serif;
   color:white;
}

.desc
{
  font-family: 'Dosis', sans-serif;
  color:white;
}


button
{
  cursor:pointer;
}


#home
{
   background: transparent;
   background: rgba(4, 4, 4, 0.56);
   margin-top: 5%;
}

@media only screen and (max-width: 420px)
{

   .desc
   {
      font-size: 1.5rem;
   }

   #title
   {
      font-size: 3rem;
      margin-top:10%
   }
}

/* style for button */


.typ-subhed {
  font-family: 'Dosis', sans-serif;
  line-height: 30px;
  letter-spacing: 0;
}

.ctrl-standard.fx-sliderIn {
  color: white;
  border-color: white;
}
.ctrl-standard.fx-sliderIn::after {
  background: white;
}

[class*="ctrl-"] {
  padding: 5Px 15px;
  border-radius: 5px;
  border: 2px solid #231f20;
}
[class*="ctrl-"][class*="fx-"]:hover,
[class*="ctrl-"][class*="fx-"].active {
  color: #231f20;
}

  [class*="fx-"],
[class*="fx-"]:hover {
    transition: color 0.5s  ease-in-out;
  }
  [class*="fx-"]:not(.fx-dyna) {
    position: relative;
    z-index: 1;
    transition-delay: 0.2s !important;
    overflow: hidden;
    background-color: transparent;
  }
  [class*="fx-"]:not(.fx-dyna)::after,
[class*="fx-"]:not(.fx-dyna)::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
  }

  .fx-sliderIn::after {
    transition: width 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
  }
  .fx-sliderIn:hover::after,
.fx-sliderIn.active::after {
    transition: width 0.5s ease-in-out;
    width: 100%;
  }
  :checked + .fx-sliderIn::after,
.fx-sliderIn.active::after {
    width: 300%;
  }

  .show{
    max-width: 1100px;
    padding-right: 10%;
    padding-left: 10%;

  }
