// Place all the styles related to the LiveFeed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table_status {
  border: 1px solid black;
  width: 50%;
  height: 50vh;
}
