// Place all the styles related to the LiveFeed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {

}

.table_status {
   padding: 5% 0;
}

.img_preview
{
   width: 50%
}

.cameras
{
    margin-left: -10%;
    margin-top: 5%;
}