<div class="jumbotron" id="home" align="center">
 <h1 class="display-10" id="title"><%= @restaurant.name %></h1>
 <div class="row">
    <% @products.each do |product|%>
    <div class="col-6">
       <h6 class="display-10" id="title"><%=product.name%></h6>
       <h6>Price:<%=product.precio%></h6>
       <img src="<%=product.image%>" width="40%">
   </div>
   <% end %>
</div>
</div>
