<h2>Tables</h2>
<a href="#" class="btn btn-success">Create</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Table 1</td>
            <td>
                <span class="badge-success badge">Free</span>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Table 2</td>
            <td><span class="badge-danger badge">Full</span></td>
        </tr>
    </tbody>
</table>